@{
    ViewBag.Title = "Home";
}

<h2>Patrocinadores</h2>

<div style="width:125px; height:125px;float:left; margin-right:10px;">
    <a href="https://www.casadocodigo.com.br/" target="_blank">       
            <img src="~/Uploads/Banners/banner-cdc-cademeumedico.png" />
     </a>
</div>

<div style="width:125px; height:125px;float:left; margin-right:10px;">
    <a href="http://conio.com.br/2/" target="_blank">
        <img src="~/Uploads/Banners/logo-conio-cademeumedico.png" />
    </a>
</div>    
